@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace, "Roboto Condensed", sans-serif;
}

/* General Styles */
body {
    text-align: center;
    background-color: #000
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

#title-box {
    padding: 45px 0;
    display: flex;
    align-items: center
}

.heading {
    color: #ffffff;
    font-size: 1.7em;
    letter-spacing: 0.2rem;
}

h1 {
    margin-bottom: 0px;
    margin-top: 0px;

}

.logo {
    overflow: auto;
    padding-right: 30px;
    padding-left: 15px;
}

/* Styles start button */
.btn-start {
    font-family: roboto condensed;
    border-radius: 15px;
    padding: 4px 8px;
    letter-spacing: 2px;
    font-weight: 800;
    border-style: ridge;
    font-size: x-large;
    color: #9C0000;
    border-color: #42FF00;
    border-width: medium;
    cursor: pointer;
}

.start-box {
    padding: 25px 0;
}

/* Styles how to play button */
.btn-dialog-on {
    font-family: roboto condensed;
    border-radius: 15px;
    padding: 4px 8px;
    letter-spacing: 2px;
    font-weight: 800;
    border-style: ridge;
    font-size: x-large;
    color: #9C0000;
    border-color: #42FF00;
    border-width: medium;
    cursor: pointer;
}

/* Hover effect for buttons */
.btn-start:hover,
.btn-dialog-on:hover {
    background-color: #E9FFB1;
}

/* Styles dialog box */
dialog:modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.dialog-box {
    padding: 5px;
    border-color: #FA7305;
    border-style: dotted;
    border-radius: 15px;
    border-width: medium;
}

#dialog-heading {
    font-size: x-large;
    padding-top: 10px;
}

.dialog-box p {
    padding: 15px 5px;
    font-family: roboto condensed;
    font-size: large;
}

.btn-dialog-off {
    font-family: roboto condensed;
    border-radius: 15px;
    padding: 4px 8px;
    letter-spacing: 2px;
    font-weight: 500;
    border-style: ridge;
    font-size: large;
    color: #9C0000;
    border-color: #42FF00;
    border-width: medium;
    cursor: pointer;
}