@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace, "Roboto Condensed", sans-serif;
}

/* General Styles */
body {
    text-align: center;
    background-color: #000
}

.landing-page {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#title-box {
    padding: 45px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heading {
    color: #ffffff;
    font-size: 1.9em;
    letter-spacing: 0.2rem;
    padding-top: 15px;
}

.logo {
    overflow: auto;
    padding: 10px 15px;
    cursor: pointer;
}

/* Styles start button */
.btn-start {
    font-family: roboto condensed;
    border-radius: 15px;
    padding: 4px 8px;
    letter-spacing: 2px;
    font-weight: 800;
    border-style: ridge;
    font-size: x-large;
    color: #9C0000;
    border-color: #42FF00;
    border-width: medium;
    cursor: pointer;
}

.start-box {
    padding: 25px 0;
}

/* Styles how to play button */
.btn-dialog-on {
    font-family: roboto condensed;
    border-radius: 15px;
    padding: 4px 8px;
    letter-spacing: 2px;
    font-weight: 800;
    border-style: ridge;
    font-size: x-large;
    color: #9C0000;
    border-color: #42FF00;
    border-width: medium;
    cursor: pointer;
}

/* Hover effect for buttons */
.btn-start:hover,
.btn-dialog-on:hover {
    background-color: #E9FFB1;
}

/* Styles dialog box */
dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.dialog-box {
    padding: 5px;
    border-color: #FA7305;
    border-style: dotted;
    border-radius: 15px;
    border-width: medium;
}

#dialog-heading {
    font-size: x-large;
    padding-top: 10px;
}

.dialog-box p {
    padding: 15px 5px;
    font-family: roboto condensed;
    font-size: large;
}

.btn-dialog-off {
    font-family: roboto condensed;
    border-radius: 15px;
    padding: 4px 8px;
    letter-spacing: 2px;
    font-weight: 500;
    border-style: ridge;
    font-size: large;
    color: #9C0000;
    border-color: #42FF00;
    border-width: medium;
    cursor: pointer;
}

/* Styles game area */
.game-area {
    display: flex;
    flex-direction: column;
    min-height: 35vh;
    border-radius: 60px;
    border-style: groove;
    border-color: #ffffff;
    border-width: thick;
    justify-content: space-around;
}

.game-area h2 {
    display: none;
}

.question-box {
    border-radius: 30px;
    color: #ffffff;
}

/* To Hide game area untill start button clicked */
.hide {
    display: none;
}

/* To Unhide game area when start button clicked */
.unhide {
    display: block;
}

/* Styles Answers */
.answer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 130px;
}

.answer-box button {
    font-family: roboto condensed;
    border-radius: 29px;
    padding: 10px 11px;
    letter-spacing: 1px;
    font-weight: 900;
    border-style: double;
    border-color: inherit;
    cursor: pointer;
    font-size: x-large;
    color: black;
}

/* adds gradient effect to buttons https://www.w3schools.com/css/css3_gradients.asp */
.ans-one {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
    flex: 2 5 100px;
}

.ans-two {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 239, 0, 1));
    flex: 2 5 100px;
}

.ans-three {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(24, 99, 254, 1));
    flex: 2 5 100px;
}

.ans-four {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(24, 249, 95, 1));
    flex: 2 5 100px;
}

.btn:hover {
    font-size: large;
}

.user-scores {
    padding-inline: 20px;
    color: #ffffff;
    display: inline-block;
}

/* media query for medium screens and larger*/
@media (min-width: 307px) {
    .answer-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
        align-items: center;
    }

    .answer-box button {
        padding: 10px 8px;
    }
}